<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <h1 th:text="${response}"></h1>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tbody th:object="${po}">
                <tr class="table-row">
                    <td >Plant name</td>
                    <td th:text="*{plant.name}">
                    </td>
                </tr>
                <tr class="table-row">
                    <td >Plant description</td>
                    <td th:text="*{plant.description}">
                    </td>
                </tr>
                <tr class="table-row">
                    <td >Start date</td>
                    <td th:text="${businessPeriod.startDate}">
                    </td>
                </tr>
                <tr class="table-row">
                    <td >End date</td>
                    <td th:text="${businessPeriod.endDate}">
                    </td>
                </tr>
                <tr class="table-row">
                    <td >Cost</td>
                    <td th:text="*{total}">
                    </td>
                </tr>
                <tr class="table-row">
                    <td >Status</td>
                    <td th:text="*{status}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>